    # Python
    __pycache__/
    *.pyc
    *.pyo
    *.pyd
    .Python
    env/
    venv/
    *.env
    .env*
    instance/
    instance/*.db  # Adiciona o banco de dados SQLite local
    .flaskenv

    # Editor backup files
    *~
    *.bak
    *.swp
    *.swo
    *.tmp
    *.log
    *.backup*
    Bk_app.py      # Adiciona seu backup de app.py
    bk_requeriments.txt # Adiciona seu backup de requirements.txt
