{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="content-section">
        {# NOVO: Usando a classe main-content-title para o título da página #}
        <div class="main-content-title">Dashboard do Sistema de Irrigação</div>
        <p><strong>Horário Atual:</strong> {{ horario_atual }}</p>
        <p><strong>Status da Rega:</strong> {{ status }}</p>
        {% if status == 'Regando agora!' %}
            <p><strong>Duração da Rega:</strong> {{ duracao }} minutos</p>
        {% endif %}
        <hr>
        <p><strong>Total de Horários Cadastrados:</strong> {{ total_horarios }}</p>
        <p><strong>Horários Ativos:</strong> {{ horarios_ativos }}</p>
        <!-- Adicione mais informações ou gráficos aqui -->
    </div>
{% endblock content %}
